<div style="background-color: #011B38; padding-top: 15px;">
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist" style="text-align: center;">
    <li class="nav-item">
      <a class="nav-link fellow-nav {{collab_discussions_status}}" href="./collaborate.html">Discussions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link fellow-nav {{collab_events_status}}" href="./collab_events.html">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link fellow-nav {{collab_rfps_status}}" href="./collab_rfps.html">RFPs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link fellow-nav {{collab_evangelists_status}}" href="./collab_evangelists.html">Evangelists</a>
    </li>
  </ul>
</div>