<div class="tab-content fellowship-container" id="myTabContent">

  <div class="tab-pane fade show active justify-content-center" id="home" role="tabpanel" aria-labelledby="home-tab" style="text-align: center;">

    <div style="padding: 40px 0px; width: 70%; display: inline-block; text-align: left">
      <div style="font-size: 20px; font-weight: bold">
        What is the Binance X Fellowship?
      </div>
      <div style="margin: 15px 0;">
        We started this program to support talented developers and researchers in creating free and open-source software that would enable new innovations and businesses in the crypto economy.
      </div>
      <div style="margin: 15px 0;">
        By joining this program, you have the freedom to work on open-source projects that have meaningful impact but may not necessarily have stand-alone commercial viability in the near-term.
      </div>
      <div style="margin: 15px 0;">
        As a <i>Binance X Fellow</i>, you will have access to our wide network of founders, researchers, portfolio companies and developers for mentorship and advice.
      </div>
      <div style="font-size: 20px; font-weight: bold">
        Program Details
      </div>
      <div style="margin: 15px 0;">
        <ul>
          <li>Fellowship participant will receive a monthly stipend.</li>
          <li>Project will receive support and guidance on defining a roadmap and fostering a community of users and contributors.</li>
          <li>Open to applicants globally and admitted on a rolling basis.</li>
        </ul>
      </div>
      <div style="font-size: 20px; margin-top: 25px; font-weight: bold; text-align: center">
        <a class="btn btn-primary binance-button" href="https://forms.monday.com/forms/e4ad18734e3c7153b166b4374dd9a7e7" target="_new" role="button">Apply</a>
      </div>
    </div>

  </div>
</div>