<div style="padding: 10px 0 0px 40px; background-color: #2E2E2E">
  <nav aria-label="breadcrumb" style="margin: 0 border: none; color: #FFF">
    <ol class="breadcrumb" style="margin:0px; background-color: #2E2E2E; color: #FFF">
      <li class="breadcrumb-item"><a href="./grow.html">Grow</a></li>
      <li class="breadcrumb-item active" aria-current="page">Binance X Fellowship</li>
    </ol>
  </nav>
</div>

<div class="container-fluid" style="background-color: #2E2E2E; padding: 0px 50px 10px 50px; margin:0; ">

  <div style="text-align: center; justify-content: center;">
    <div class="" style="justify-content: center;">
      <img src="./static/binance-x-fellowship-white.svg" style="max-width: 380px">
    </div>
  </div>
</div>

<div style="background-color: #2E2E2E; margin:0; padding:0">
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist" style="text-align: center;">
    <li class="nav-item">
      <a class="nav-link fellow-nav {{fellowship_about_status}}" href="./fellowship.html">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link fellow-nav {{fellowship_fellows_status}}" href="./fellowship_fellows.html">Fellows</a>
    </li>
    <li class="nav-item" style="">
      <a class="nav-link fellow-nav {{fellowship_apply_status}}" href="./fellowship_apply.html">Apply</a>
    </li>
  </ul>
</div>