<div class="tab-content fellowship-container" id="myTabContent">

  <div class="tab-pane fade show active justify-content-center" id="home" role="tabpanel" aria-labelledby="home-tab" style="text-align: center;">

    <div style="padding: 40px 0px; width: 70%; display: inline-block; text-align: left">
      <div style="font-size: 20px; font-weight: bold">
        Application
      </div>
      <div style="margin: 15px 0;">
        This program is open to candidates globally and fellows are admitted on a rolling basis.
      </div>
      <div style="margin: 15px 0;">
        Fill out the form below, and we will get in touch if there is interest.
      </div>
      <div style="font-size: 20px; margin-top: 25px; font-weight: bold; text-align: center">
        <a class="btn btn-primary binance-button" href="https://forms.monday.com/forms/e4ad18734e3c7153b166b4374dd9a7e7" target="_new" role="button">Apply</a>
      </div>
    </div>

  </div>
</div>