<div class="container-fluid" style="color: #FFF; background-color: #0B0E11; padding: 40px 50px 0px 50px; justify-content: center;">

  <div class="row">
    <div class="col-sm-6 bottom-col">
      <div>
        <img src="static/binancex-logo.svg" style="width: 160px; margin: -10px 0px 0 -5px; text-align: left; justify-content: left;"></img>
      </div>
      <div style="">
        <a class="btn-sm btn-primary binance-button" href="https://forms.monday.com/forms/2e31c5aaf33ebb8489be3392459ab2bb" target="_new" role="button">Sign up for XDN</a>
      </div>

    </div>

    <div class="col-sm-3 bottom-col">
      <div class="bottom-right-menu">
        Menu
      </div>
      <div class="bottom-menu">
        <div class="bottom-menu-item">
          <a href="./index.html">Home</a>
        </div>
        <div class="bottom-menu-item">
          <a href="./learn.html">Learn</a>
        </div>
        <div class="bottom-menu-item">
          <a href="./collaborate.html">Collaborate</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3 bottom-col">
      <div class="bottom-right-menu">
        Community
      </div>
      <div class="bottom-menu">
        <div class="bottom-menu-item">
          <a  href="https://twitter.com/binancex" target="_new"><i class="fab fa-twitter" style="margin-right: 5px;"></i>Twitter</a>
        </div>
        <div class="bottom-menu-item">
          <a  href="https://www.youtube.com/channel/UCG4-qn9_cmS5IoWLuYIWlrw" target="_new"><i class="fab fa-youtube" style="margin-right: 5px;"></i>Youtube</a>
        </div>
        <div class="bottom-menu-item">
          <a  href="https://github.com/binancex" target="_new"><i class="fab fa-github" style="margin-right: 5px;"></i>GitHub</a>
        </div>
        <div class="bottom-menu-item">
          <a  href="./blog.html"><i class="fas fa-rss-square" style="margin-right: 5px;"></i>Blog</a>
        </div>
      </div>
    </div>

  </div>


</div>

<div style="text-align: center; background-color: #0B0E11; font-size: 12px; padding: 40px 0; color: #76808F;">
    &copy; 2020 Binance.com All rights reserved
</div>